<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Simple</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <ngx-multiple-dates [matDatepicker]="pickerSimple" placeholder="Simple"
                            #forValuesOutput="ngxMultipleDates">
        </ngx-multiple-dates>
        <mat-datepicker #pickerSimple></mat-datepicker>
      </mat-form-field>
      <pre>{{ forValuesOutput.value | json }}</pre>
    </mat-card-content>
  </mat-card>
</form>